.Header{
    display: flex;
    flex-direction:column;
    gap: 2px;

}
.delevery{
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 217, 217);
    padding: 0.5rem 2rem;
}
.logos{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 35rem;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.NavBar{
    width: 50%;
    display: flex;
    justify-content: space-around; 
}